@import '../../../scss/theme';

.archivePanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min-content;
  user-select: none;
  cursor: pointer;

  @include themed {
    background: t('background-chat');
  }

  &__container {
    &--left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 8rem;
      height: 100%;
      padding: 1rem 0;
    }

    &--right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      padding: 1rem 1.5rem 1rem 0;
      border-bottom-width: 0.1px;
      border-bottom-style: solid;
      box-sizing: border-box;

      @include themed {
        border-bottom-color: t('border-color');
      }
    }
  }

  &__icon {
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    color: $primary-color;
    background: transparent;
  }

  &__label {
    font-size: 1.6rem;
    line-height: 1.6rem;

    @include themed {
      color: t('text-color-dark');
    }
  }
}
