@import '../../../scss/theme';

.searchBarPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min-content;
  padding: 0.8rem 1.3rem;
  box-sizing: border-box;
  border-bottom-width: 0.1px;
  border-bottom-style: solid;

  @include themed {
    background-color: t('background-chat');
    border-bottom-color: t('border-color');
  }
}
