@import '../../../scss/theme';

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__input {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    min-height: 2rem;
    outline: none;
    width: 100%;
    box-sizing: 'border-box';
    text-align: center;
    user-select: text;
    z-index: 1;
    margin-bottom: 3rem;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);

    @include themed {
      color: t('text-color-medium');
      background: t('background-light');
    }

    &::placeholder {
      @include themed {
        color: t('text-color-light');
      }
      opacity: 1;
      font-size: 1.4rem;
      text-align: center;
    }
  }

  &__button {
    width: 100%;
    border-radius: 0.7rem;
    padding-left: 2.5rem;
    padding-right: 2.2rem;
    height: 3.5rem;
    font-size: 1.2rem;
    color: white;
    margin-top: 0.3rem;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: $primary-color;

    &:hover {
      @include themed {
        background: lighten($primary-color, 10%);
      }
    }
  }
}
